@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


:root{
    --primary-color:#642571;
    --secondary-color:#ea0c95;
    --text-color:#3b3b3b;
    --bg-color:#dfdfdf;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Google Sans", sans-serif;
}


.container{
    width: 90%;
    margin: 0 auto;
}
